button {    
    padding: 10px;    
    background-color: skyblue;    
    margin-top: 10px;    
}    
 
/* a {    
    padding: 10px;    
    background-color: skyblue;    
    margin-top: 10px;    
    text-decoration: none;    
}     */
.imgClass{
    height: 215px;
    
}