<!--The content below is only a placeholder and can be replaced.-->    



<main role="main" class="container" style="margin-top:5%;">


    <div class="panel panel-default">
        <div class="panel-heading">QR Generator</div>
<div style="text-align:center">    
  <div class="row" style="margin-top: 2%;">
      <div class="col-md-4"></div>
<div class="col-md-4">
    <input type="text" class="form-control" placeholder="Enter data here" [(ngModel)]="qrcodename" (input)="generateQR()" >  
</div>
  </div>
  <br>  
  <!-- <button (click)="generateQRCode()">Generate QR Code</button>     -->
  <ngx-qrcode *ngIf="display" id="qrCodeImage"  qrc-class = "imgClass" [qrc-element-type]="elementType" [qrc-value] = "value">    
  </ngx-qrcode><br>    
  <a [href]="href" class="btn btn-default" style="margin-bottom: 2%;" *ngIf="display" (click)="downloadQRImage()" download>Download Image</a>    
</div>  
</div>
</main>  
<router-outlet></router-outlet>  